<h4>Список парикмахеров</h4>
<% @barbers.each do |barber| %>
  <p>
    <a href="/barber/<%= barber.id %>"><%= barber.name %></a>
  </p>
<% end %>
<br>
<h4>Сообщения</h4>
<% @contacts.each do |post| %>
  <p>
    Получено от: <%= post.mail %>
    <br>
    <br>
    <%= post.message %>
    <br>
    <br>
    Добавлено: <%= post.created_at %>
  </p>
  <hr />
<% end %>
