<h4>Список парикмахеров</h4>
<% @barbers.each do |barber| %>
  <p>
    <a href="/barber/<%= barber.id %>"><%= barber.name %></a>
  </p>
<% end %>
<br>
<h4>Список клиентов</h4>
<table class="table">
  <thead>
      <tr>
        <th>Номер</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Дата и время</th>
        <th>Мастер</th>
        <th>Цвет</th>
      </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%=client.id%></td>
        <td><%=client.name%></td>
        <td><%=client.phone%></td>
        <td><%=client.datestamp%></td>
        <td><%=client.barber%></td>
        <td style="background-color: <%=client.color%>"><%=client.color%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h4>Сообщения</h4>
<% @contacts.each do |post| %>
  <p>
    Получено от: <%= post.mail %>
    <br>
    <br>
    <%= post.message %>
    <br>
    <br>
    Добавлено: <%= post.created_at %>
  </p>
  <hr />
<% end %>
